# Environment variable files
.env
.env.*
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# VS Code
.vscode/

# Streamlit
.streamlit/

# Ignore system files
.DS_Store
Thumbs.db

# Azure/Secrets
*.json
!tbudgetdb.json
